/* --- */
/* VARIABLES */
/* --- */
:root{
    --font-prin: rgb(35, 35, 35);
    --font-sec: rgb(50, 50, 50);

    --back-prin: rgb(220, 220, 220);
    --back-prin1: rgba(220, 220, 220, 0.5);
    --back-sec: rgb(145, 38, 38);
    --back-sec1: rgba(99, 99, 99, 0.7);
    --back-sec2: rgba(145, 64, 64, 0.5);
}

/* --- */
/* UNIVERSAL */
/* --- */
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    padding: 0% 6%;
    background-color: rgb(200, 200, 200);
}

h1, h2, h3, h4, h5, h6{
    color: var(--font-prin);
}

a, p{
    color: var(--font-sec);
}


/* --- */
/* HEADER */
/* --- */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--back-sec1);
    width: 100%;
    height: auto;
    padding: 2% 5%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo img{
    min-width: 30px;
    max-width: 70px;
}

.logo h2{
    font-size: 50px;
    padding: 0 5px;
    border-bottom: 5px solid var(--back-sec);
}

nav {
    background-color: var(--back-prin1);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    padding: 0;
    width: auto;
    max-width: 1000px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-li a {
    display: block;
    padding: 5px 15px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.nav-li a:hover, .nav-li a.active {
    background-color: var(--back-sec2);
    border-bottom: 4px solid var(--back-sec);
    color: white;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    font-size: 18px;
    color: var(--back-sec1);
}

.search-c{
    margin: 5px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 15px;
    background: white;
}

.search-c span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /*  */
    img{
        width: 20px;
        height: auto;
        /* padding: 5px; */
    }
}

input[type="search"] {
    width: 75%;
    height: 100%;
    border: none;
    background: none;
}

input[type="search"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

@media (max-width: 768px) {
    ul {
        display: none;
        flex-direction: column;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }

    .menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-li a {
        padding: 10px;
    }
}

/* --- */
/* CONTAINER */
/* --- */
#container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-prin);
    box-shadow: 0 0 15px var(--font-prin);
}

/* --- */
/* FOOTER */
/* --- */
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: end; */
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--back-sec2);
}

.who, .ubi, .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 20vh;
}

.who{
    width: 30%;
    margin: 5px;
    box-shadow: inset 0px -10px 30px -15px var(--back-sec2);
    border-bottom: 3px solid var(--back-sec);
}

.ubi{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    box-shadow: inset 0px -10px 30px -15px var(--back-sec2);
    border-bottom: 3px solid var(--back-sec);

    hr{
        width: 100%;
        margin: 0.5rem 0;
        border: 1px solid var(--back-sec2);
    }

    .ubi-1 span{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img{
            width: 24px;
            height: auto;
        }
    }
}

.social{
    width: 30%;
    margin: 5px;
    box-shadow: inset 0px -10px 30px -15px var(--back-sec2);
    border-bottom: 3px solid var(--back-sec);
}

.social li a img {
    width: 24px;
    height: auto;
    margin: 5px;
    transition: all .3s;
}

.social li a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px var(--back-sec));
}

@media (max-width: 768px) {
    .who, .ubi, .social {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .who, .ubi, .social {
        width: 90%;
    }
}