/* --- */
/* VARIABLES */
/* --- */
:root{
    --font-prin: rgb(35, 35, 35);
    --font-sec: rgb(50, 50, 50);

    --back-prin: rgb(220, 220, 220);
    --back-prin1: rgba(220, 220, 220, 0.5);
    --back-sec: rgb(145, 38, 38);
    --back-sec1: rgba(99, 99, 99, 0.7);
    --back-sec2: rgba(145, 64, 64, 0.5);
}

/* --- */
/* MAIN */
/* --- */
main{
    width: 100%;
}

article div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

@media (max-width: 1024px) {
    article div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    article div {
        grid-template-columns: 1fr;
    }

    div .aa section .text {
        padding: 15px 20px;
    }
}

div .aa {
    text-decoration: none;
    border-radius: 15px;
    border-bottom: 8px solid var(--back-sec);
    box-shadow: 0 0 10px var(--font-prin);
    transition: transform 0.3s, box-shadow 0.3s;
}

div .aa:hover {
    transform: scale(1.03);
    cursor: pointer;
}

div .aa section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div .aa section .text {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 5px 15px;
    background-color: var(--back-prin1);
    border-top: 3px solid var(--back-sec1);
    border-radius: 0 0 15px 15px;
}

div .aa section .text h4 {
    text-align: center;
    font-size: 18px;
    padding: 0;
}


div .aa section .text p{
    text-align: center;
    font-size: 15px;
    padding: 0;
}